<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Static/CSS.css">
    <script src="../Static/JS.js"></script>
    <title>Doctors</title>
</head>
<body class="DoctorsBody">
    <div class="headerDoc">
        <span>The Best Doctor For You</span>
    </div>
    <div class="containerDoc">
     <button class="Doctor d1" onclick="toDoc()">ד"ר גיל רצ'בסקי</button>  
     <button class="Doctor d2">ד"ר רן טיין </button>  
     <button class="Doctor d3">ד"ר נועם רשף</button>  
     <button class="Doctor d4">4</button>  
     <button class="Doctor d5">5</button>  
    </div>
    
</body>
</html>