<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Static/HomePageCss.css">
    <script src="../Static/JS.js"></script>
    <title>DocForYou</title>
</head>
<body>
      <div class="headLine">
        <h1 id="header1">Choose Expertise</h1>
      </div>
      <br>
      <br>
      <div class="container">
        <button class="btn b1" onclick="ExpertsPage()">KNEE</button>
        <button class="btn b2">ankle</button>
        <button class="btn b3">shoulder</button>
        <button class="btn b4">hip</button>
        <button class="btn b5">hand</button>
        <button class="btn b6">elbow</button>
      </div>
    
</body>
</html>