<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Static/CSS.css">
    <script defer src="../Static/JS.js"></script>
    <title>DocForYou</title>
</head>
<body class="HomePageBody">
  <nav class="navbar">
    <a class="nav-item" id="HomePage" href="HomePage.html">HomePage</a>
    <a class="nav-item" id="ExpertPage" href="ExpertPage.html">ExpertPage</a>
    <a class="nav-item" id="Doctors" href="Doctors.html">Doctors</a>
  </nav>
  

  <div class="headLineHp">
    <h1 id="headerHp">Choose Expertise</h1>
  </div>
      <br>
      <br>
  <div class="container">
    <div class="image i1">
     []
        <div class="image__overlay image__overlay--primary">
          <button class="image__title" onclick="ExpertsPage()">KNEE</button>
        </div>
    </div>
    <div class="image i2">
      
        <div class="image__overlay image__overlay--primary">
          <button class="image__title" onclick="ExpertsPage()">ANKLE</button>
        </div>
    </div>
    <div class="image i3">
      
        <div class="image__overlay image__overlay--primary">
          <button class="image__title" onclick="ExpertsPage()">HIP</button>
        </div>
    </div>
    <div class="image i4">
      
        <div class="image__overlay image__overlay--primary">
          <button class="image__title" onclick="ExpertsPage()">HAND</button>
        </div>
    </div>
    <div class="image i5">
      
        <div class="image__overlay image__overlay--primary">
          <button class="image__title" onclick="ExpertsPage()">ELBOW</button>
        </div>
    </div>
    <div class="image i6">
      
        <div class="image__overlay image__overlay--primary">
          <button class="image__title" onclick="ExpertsPage()">SHOULDER</button>
        </div>
    </div>
  </div>

  <button class="review" onclick="addReview()">ADD A REVIEW</button>
    
</body>
</html>        