<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Static/CSS.css">
    <script defer src="../Static/JS.js"></script>
    <title>Add A Review</title>
</head>
<body class="ReviewBody">

    
    <h1 class="header"> Add A New Review</h1>
    <div class="form" >
    <form name="addReview" onsubmit="return validateForm()" method="post">
        <label for="email">Email</label><br>
        <input pattern="[^ @]*@[^ @]*" type="text" id="email" name="email"><br>
        <label for="doctorName"> Doctor Name:</label><br>
        <input type="text" id="doctorName" name="doctorName"><br><br>
        <div class="starReview">
            <i class="star">&#9734;</i>
            <i class="star">&#9734;</i>
            <i class="star">&#9734;</i>
            <i class="star">&#9734;</i>
            <i class="star">&#9734;</i>
        </div>
        <input type="hidden" id="rating" name="rating" value="0">
        <br><br>
        <input type="submit" value="Submit"> 
      </form>  
    </div>
</body>
</html>