/* HOME PAGE CSS*/
  body, html{
    height: 100%;
  }
  
  .HomePageBody{
    
    background-image: url("../Static/Pictures/Runner.jfif");
    height: 100%;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .headLineHp{
    border: 5px outset whitesmoke;
    border-radius: 15px;
    background-color: lightblue;
    text-align: center;
    position:relative;
    top: 5%;
    }

  .headerHp{
    font-family: 'Times New Roman', Times, serif;
  }
  .containerHp {
    display: grid;
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    text-align: center;
    grid-template-columns: auto auto auto;
  }
  .btn{
    border: solid #777;
    background-color: black;
    border-radius: 10px;
    margin: 25px;
    padding: 60px;
    width: 300px;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 30px;
    color: #777;

  }
.b1{
  background-image: url(../Static/Pictures/Knee.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.b2{
  background-image: url(../Static/Pictures/ANKLE.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.b3{
  background-image: url(../Static/Pictures/SHOULDER.jfif);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.b4{
  background-image: url(../Static/Pictures/HIP.webp);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-y: -10px;
}
.b5{
  background-image: url(../Static/Pictures/HAND.jfif);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.b6{
  background-image: url(../Static/Pictures/ELBOW.jfif);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}




/* EXPERT PAGE CSS*/
.ExpertPageBody{
    background-image: url("../Static/Pictures/MP.jfif");
    background-repeat: no-repeat;
    background-size: 100%;
}
.grid-container-Exp {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
}
.grid-item-Exp{
    background-color: lightblue;
    border: 5px solid grey;
    padding: 20px;
    margin: 30px;

    }
.select-Exp{
    background-color: lightskyblue;
    height: 50px;
    width: 100%;
}

* {
    box-sizing: border-box;
}
    
.wrapper {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 75%;
    left: 40%;
    }
    
.cta {
    display: flex;
    padding: 10px 45px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    color: whitesmoke;
    background: #3f3f3f;
    transition: 1s;
    box-shadow: 6px 6px 0 black;
    transform: skewX(-15deg);
    }
    
.cta:focus {
    outline: none; 
    }
    
.cta:hover {
    transition: 0.5s;
    box-shadow: 10px 10px 0 #222222;
    }
    
.cta span:nth-child(2) {
    transition: 0.5s;
    margin-right: 0px;
    }
    
.cta:hover  span:nth-child(2) {
    transition: 0.5s;
    margin-right: 45px;
    }
    
span {
    transform: skewX(15deg) 
      }
    
span:nth-child(2) {
    width: 20px;
    margin-left: 30px;
    position: relative;
    top: 12%;
      }
      
.b-Exp{
    cursor: pointer;
    background-color: #646464;
    border: none;
    color: white;
    width: 200px;
    font-size: 20px;
      }
    
path.one {
    transition: 0.4s;
    transform: translateX(-60%);
    }
    
path.two {
    transition: 0.5s;
    transform: translateX(-30%);
    }
    
.cta:hover path.three {
    animation: color_anim 1s infinite 0.2s;
    }
    
.cta:hover path.one {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.6s;
    }
    
.cta:hover path.two {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.4s;
    }
    
    
@keyframes color_anim {
    0% {
        fill: #777;
        }
    50% {
        fill: whitesmoke;
        }
    100% {
        fill: lightcyan;
        }
    }

 /* DOCTORS PAGE CSS */
.DoctorsBody{
    background-image: url("../Static/Pictures/MJ.jfif");
    background-repeat: no-repeat;
    background-size: 50%;
    background-color: rgb(53, 162, 192);
    }
.headerDoc{
    background-color: black;
    color: white;
    border-color: solid #777;
    border-radius: 15px;
    position: relative;
    left: 51%;
    top: 50px;
    width: 600px;
    padding: 10px;
    text-align: center;
    font-size: 30px;
    }
    
.containerDoc{ 
    display: grid;
    grid-template-columns: auto;
    position: absolute;
    left: 72%;
    top: 120px;
    border-color: solid #777;
    }
    
.Doctor{
    background-color: antiquewhite;
    border: solid black;
    border-radius: 15px;
    padding: 20px;
    width: 300px;
    margin: 10px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    cursor: pointer;
    }