body{
    background-image: url("../Static/Pictures/MJ.jfif");
    background-repeat: no-repeat;
    background-size: 50%;
    background-color: rgb(53, 162, 192);
}
.header{
    background-color: black;
    color: white;
    border-color: solid #777;
    border-radius: 15px;
    position: relative;
    left: 51%;
    top: 50px;
    width: 600px;
    padding: 10px;
    text-align: center;
    font-size: 30px;
}

.container{ 
    display: grid;
    grid-template-columns: auto;
    position: absolute;
    left: 72%;
    top: 120px;
    border-color: solid #777;
}

.Doctor{
    background-color: antiquewhite;
    border: solid black;
    border-radius: 15px;
    padding: 20px;
    width: 300px;
    margin: 10px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    cursor: pointer;
}